.display-container{
    width: 100%;
    height: 100%;
    display: flex;
   justify-content: space-around;
   align-items: center;

    
    
    
    .winner-bulb{
        width: 45%;
        height: 90%;
        border: 1px solid #ffffff;
        border-radius: 80%;
        margin: 0.3rem;
        overflow: hidden;
        box-shadow: inset 0 0 5px;
      
      
        
        
        
        .light{
            background: rgb(174,128,255);
            background: radial-gradient(circle, rgba(174,128,255,1) 91%, rgba(118,91,255,1) 100%);
            
            height: 100%;
            border-radius: 75%;
            opacity: 0%;

        }

        .on{
            opacity: 100%;
            transition: opacity 0.5s ease-in;
        }

    }
}